<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Scholarships</title>
</head>
<body>
    <form action="/search" method="post">
        <select name="location_search" id="">
            <option value="united-states">USA</option>
            <option value="united-kingdom">United Kingdom</option>
            <option value="canada">Canada</option>
            <option value="europe">Europe</option>
            <option value="south-africa">South Africa</option>
            <option value="india">India</option>
            <option value="nigeria">Nigeria</option>
            <option value="pakistan">Pakistan</option>
        </select>
        <select name="funds_search" id="">
            <option value="$2500">$2500</option>
            <option value="$2,000">Up to $2000</option>
            <option value="$2000">$2000</option>
            <option value="$3000">$3000</option>
            <option value="Full or partial scholarship">Full or partial scholarship</option>
            <option value="Partial tution fees">Partial tution fees</option>
            <option value="annual stipend">Full Cost of tution fees and an annual stipend</option>
            <option value="Pay any remaining balance">Pay any remaining balance</option>
            <option value="Tution Fee">Tution Fees</option>
            <option value="$16000">$16000</option>
            <option value="$14000">$14000</option>
            <option value="100% free">100% free</option>
            <option value="Fully Funded">Fully Funded</option>
            <option value="Partially Funded">Partially Funded</option>
        </select>
        <select name="degree_search" id="">
            <option value="Master">Master</option>
            <option value="Phd">Phd</option>
            <option value="Bachelor">Bachelor</option>
            <option value="Course">Course</option>
        </select><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>