html {
    background: #6249bb;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
    
  }

  body{
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fstarwalk.space%2Fgallery%2Fimages%2Fwhat-is-space%2F1920x1080.jpg&tbnid=tGChiWD_pHHQZM&vet=12ahUKEwiWpoeixa6BAxWiz6ACHb9QDNwQMygBegQIARB2..i&imgrefurl=https%3A%2F%2Fstarwalk.space%2Fen%2Fnews%2Fwhat-is-space&docid=Fb5yYnY-vX6tnM&w=1920&h=1080&q=space%20images&ved=2ahUKEwiWpoeixa6BAxWiz6ACHb9QDNwQMygBegQIARB2");
  }
  
header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    
    @media (min-width: 30em) {
      grid-template-columns: 1fr 1fr;
    }
    
    @media (min-width: 60em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
      
    &:hover {
      top: -2px;
      box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    }
    
    article {
      padding: 20px;
      flex: 1;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    h1 {
      font-size: 50px;
      margin: 10px;
      margin-bottom: 20px;
      color: #e5e3e3;
  }
    
    p {
      flex: 1;
      line-height: 1.4;
    }
    
    span {
      font-size: 12px;
      font-weight: bold;
      color: #999;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin: 2em 0 0 0;
    }
    
    .thumb {
      padding-bottom: 60%;
      background-size: cover;
      background-position: center center;
    }
  
  
  .item-1 {
    @media (min-width: 60em) {
      grid-column: 1 / span 2;
      
      h1 {
        font-size: 24px;
      }
    }
  }